apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# "Catch all" Kustomization file to instantiate everything in one command and make it easy to configure namespace
namespace: {{ namespace_name }}
configMapGenerator:
  - name: redis-configmap
    files:
    - redis_configmap.conf
resources:
  - redis_service.yaml
  - redis_statefulset.yaml