[submodule "services/coordinator/config/target_spilo_postgres/kubernetes/zalando"]
	path = services/coordinator/config/target_spilo_postgres/kubernetes/zalando
	url = https://github.com/zalando/postgres-operator.git
